.general-container {
    text-align: center;
    margin: 96px auto;
    max-width: 540px;
    min-width: 180px;
    border-radius: 16px;
    padding: 64px;
    box-shadow: var(--container-box-shadow);
}

.holding-uploader-points {
    text-align: left;
    margin-bottom: 32px;
}