.tableContainer {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
}

.holdingInfo {
    height: 84px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
    margin: auto;
}

.holdingInfoItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.profit {
    color: #10b983 !important;
}

.loss {
    color: #f35631 !important;
}