.login-container {
    text-align: center;
    margin: 96px auto;
    max-width: 540px;
    min-width: 180px;
    border-radius: 8px;
    padding: 32px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.form-item {
    margin-bottom: 32px !important;
}