html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
  color: #444;
  line-height: 1.7em;
  background-color: #f0f4f9;
}

@media (max-width: 600px) {
  html {
    font-size: 18px;
  }
}

#root {
  height: 100%;
}

code {
  font-family: "Inter", source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace !important;
}